@mixin flexBox( $flex-direction, $justify-content: flex-start, $align-items: flex-start, $flex-wrap: nowrap, $width: 100%) {
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    width: $width;
    display: flex;
  }


@mixin typeStyling( $fontFamily, $fontWeight, $font-size: 1rem, $line-height: 1, $fontStyle: normal, $color: none ) {
    font-family: $fontFamily, sans-serif;
    line-height: $line-height;
    font-weight: $fontWeight;
    font-size: $font-size;
    color: $color;
  }