/* autoprefixer grid: autoplace */
@import './styles/mixins';
@import './styles/movieCard';
@import './styles/movie';

.roundedBorders {
  border-radius: 0 0 .8rem .8rem;
}


header {
  box-shadow: 0 5px 1rem .1rem rgba($color: #888888, $alpha: .4);
  background-color: white;
  padding: 1.5rem 3rem;
  position: sticky;
  margin: 0 auto;
  z-index: 999;
  width: 80%;
  top: 0;

  @include flexBox( row, flex-start, flex-start, nowrap, 80% );
  @extend .roundedBorders;

  .active {
    text-decoration: underline;
  }

  & > a {
    @include typeStyling( 'Roboto', 400, 1.6rem, 1, normal, black );

    @media only screen and (max-width: 425px) {
      font-size: 1.3rem;
    }

    &:first-of-type {
      margin-right: 2rem;
    }

    &:last-of-type {
      margin-left: auto;
    }

  }

}

main {
  margin: 2rem auto;
  width: 80%;
}

footer {
  margin-top: 2rem;

  p {
    @include typeStyling( 'Roboto', 400, .8rem, 1, normal, black );
    text-align: center;
  }

}

.searchBar {
  @include flexBox( row, center, stretch, nowrap, 100% );
  margin: 2rem 0;


  input {
     border-radius: .4rem 0 0 .4rem;
     border-width: .04rem;
     padding: .9rem 1.2rem;
     width: 50%;
  }

  button {
    @include typeStyling( 'Roboto', 400, 1rem, 1, normal, white );
    border-radius: 0 .4rem .4rem 0;
    background-color: #075EE6;
    border-color: #075EE6;
    cursor: pointer;
    padding: .9rem;

    svg {
      pointer-events: none;
      margin-left: .2rem;
      color: white;
    }

  }

}

.heading {
  @include typeStyling( 'Roboto', 600, 2rem, 1, normal, black );
  margin-top: 2rem;
}


.moviesList {
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  align-items: flex-start;
  margin-top: 2rem;
  grid-gap: 2rem;
  display: grid;
}



